bin/
BackgroundHost/x64/
obj/
packages/
AppPackages/
x64/
ChatterBox.Client.WebRTCSwapChainPanel/Debug/
Debug/
Release/
.vs/
ChatterBox.sln.DotSettings
ChatterBox.VC.db
project.lock.json
*.nuget.targets
*.vcxproj.user
*.csproj.user
*.opendb
Output/