bin/
obj/
packages/
Build/
.vs/
*.suo
*.csproj.user
project.lock.json
*.sdf
*.bak
Client/*.dll
Client/*.pdb
Client/*.winmd
Client/Unity/UnityVideoControl/Assets/Plugins/WSA/x86/*.dll
Client/Unity/UnityVideoControl/Assets/Plugins/WSA/x86/*.winmd
Client/Unity/UnityVideoControl/Assets/Plugins/WSA/x86/*.pdb
Client/Unity/UnityVideoControl/Assets/Plugins/WSA/x64/*.dll
Client/Unity/UnityVideoControl/Assets/Plugins/WSA/x64/*.winmd
Client/Unity/UnityVideoControl/Assets/Plugins/WSA/x64/*.pdb
Client/Unity/UnityVideoControl/Library
Client/Unity/UnityVideoControl/UnityPackageManager
Client/Unity/UnityVideoControl/UWP
ClientUnity/*.dll
ClientUnity/*.pdb
ClientUnity/*.winmd
ClientUnity/Unity/PeerCCUnity/Assets/Plugins/WSA/*.dll
ClientUnity/Unity/PeerCCUnity/Assets/Plugins/WSA/*.pdb
ClientUnity/Unity/PeerCCUnity/Assets/Plugins/WSA/x86/*.dll
ClientUnity/Unity/PeerCCUnity/Assets/Plugins/WSA/x86/*.winmd
ClientUnity/Unity/PeerCCUnity/Assets/Plugins/WSA/x86/*.pdb
ClientUnity/Unity/PeerCCUnity/Assets/Plugins/WSA/x64/*.dll
ClientUnity/Unity/PeerCCUnity/Assets/Plugins/WSA/x64/*.winmd
ClientUnity/Unity/PeerCCUnity/Assets/Plugins/WSA/x64/*.pdb
ClientUnity/Unity/PeerCCUnity/Library
ClientUnity/Unity/PeerCCUnity/UnityPackageManager
ClientUnity/Unity/PeerCCUnity/UWP
