.negotiation {
  height: 400px;
} 
.sdp {
   width: 200px;
   height:150px;
 }

 .leftPanel {

   width: 45%;
   padding: 20px;
   float: left;

 }

  .middlePannel {
   width: 5%;
   padding: 10px 50px;
   position:relative;
   top: -200px;
   margin-left: 40%;

 }

 .rightPanel {
   width: 45%;
   padding: 20px;
   position:relative;
   float: right;
   top: -310px;
 }

 .videoPanel{
    width: 100%;
   padding: 20px;
   position:relative;
   top: -110px;
 }

 .leftVideo{
   width: 640px;
   height: 480px;
   float: left;
 }

  .rightVideo{
   width: 640px;
   height: 480px;
   float: right;
 }
  .callButtons{
   position:absolute;
   top: 800px;
   left: 20px
  }
   

body {
  
}
